<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
</head>

<body>
  {% if method == 'GET' %}
  <form method="POST">{% csrf_token %}
    <label for="username">아이디</label>
    <input type="text" name="username" id="username">
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">
    <input type="submit">
  </form>
  {% else %}
    {% if not is_valid %}
    <h1 style="color: red">로그인에 실패했습니다.</h1>
    {% else %}
    <h1 style="color: blue">로그인 성공!!</h1>
    {% endif %}
  {% endif %}
</body>

</html>